.game-ui-wrapper {
	align-items: center;
	display: grid;
	gap: 1rem;
	grid-template-areas:
		'top-left			top-center		top-right'
		'center-left	center-center	center-right'
		'bottom-left	bottom-center	bottom-right';
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 1fr 3fr 1fr;
	inset: 0;
	justify-content: center;
	padding: 1rem;
	pointer-events: none;
	position: absolute;

	&.debugger-enabled {
		grid-template-areas:
			'top-left			top-center		top-right			debugger'
			'center-left	center-center	center-right	debugger'
			'bottom-left	bottom-center	bottom-right	debugger';
		grid-template-columns: 1fr 3fr 1fr auto;
	}

	* {
		pointer-events: initial;
	}
}
