.modal-backdrop {
	align-items: center;
	background-color: rgba(black, 0.8);
	display: flex;
	inset: 0;
	justify-content: center;
	padding-right: var(--ui-dialog-width);
	position: absolute;
}

.modal-wrapper {
	background-color: var(--palette-dark-grey);
	font-size: var(--body-font-size);
	padding: 5rem;
}

.modal {
	align-items: center;
	background-color: var(--palette-grey);
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding: 4rem 6rem;
	text-align: center;
}
