.modal-backdrop {
	align-items: center;
	background-color: rgba(black, 0.8);
	display: flex;
	inset: 0;
	justify-content: center;
	padding-right: var(--ui-dialog-width);
	position: absolute;
}

.modal-wrapper {
	background-color: var(--palette-dark-grey);
	font-size: var(--body-font-size);
	padding: 5rem;
}

.modal {
	align-items: center;
	background-color: var(--palette-grey);
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding: 4rem 6rem;
	position: relative;
	text-align: center;

	.bottom-frame,
	.top-frame {
		background-image: url('/ui/floating-frame.fill.svg');
		background-position: center;
		background-repeat: repeat-x;
		height: 5rem;
		left: 0;
		position: absolute;
		right: 0;

		.center-decoration,
		&:after,
		&:before {
			background-repeat: no-repeat;
			bottom: 0;
			position: absolute;
			top: 0;
		}

		.center-decoration {
			background-image: url('/ui/floating-frame.center.svg');
			background-position: center;
			left: 50%;
			transform: translateX(-50%);
			width: 6rem;
		}

		&:after,
		&:before {
			background-image: url('/ui/floating-frame.end.svg');
			background-position: center right;
			content: '';
			width: 4rem;
		}

		&:before {
			right: 100%;
		}

		&:after {
			left: 100%;
			transform: scaleX(-1);
		}
	}

	.bottom-frame {
		margin-top: -0.3rem;
		top: 100%;
		transform: rotate(180deg);
	}

	.top-frame {
		bottom: 100%;
		margin-bottom: -0.3rem;
	}
}
