.menu {
	transition-duration: 0.1s;
	transition-property: padding-left;

	&:focus,
	&:hover {
		.menu-item:not(.is-active) {
			color: var(--palette-light-grey);
		}
	}
}

.menu-item {
	position: relative;
	transition-duration: 0.2s;
	transition-property: color;
}

.target-indicator-wrapper {
	position: relative;
}

.target-indicator {
	align-items: center;
	bottom: 0;
	display: flex;
	height: 100%;
	position: absolute;
	right: 100%;
	top: 0;
	width: 3rem;
}

.target-indicator-cap {
	grid-area: cap;
	height: 3.3rem;
	object-fit: contain;
	width: 75%;
}

.target-indicator-bar {
	align-content: stretch;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 25%;
}

.target-indicator-bar-bottom,
.target-indicator-bar-top {
	flex-grow: 1;
	height: 50%;
	object-fit: cover;
	width: 100%;
}

.target-indicator-bar-bottom {
	grid-area: bar-bottom;
	object-position: bottom left;
}

.target-indicator-bar-top {
	grid-area: bar-top;
	object-position: top left;
}
