.menu {
	transition-duration: 0.1s;
	transition-property: padding-left;

	.menu-item {
		position: relative;
		transition-duration: 0.2s;
		transition-property: opacity;
	}

	&:focus,
	&:hover {
		.menu-item:not(.is-active) {
			opacity: 0.4;
		}
	}
}

.target-indicator-wrapper {
	position: relative;
}

.target-indicator {
	background-image: url('/ui/target-indicator.svg');
	background-position: center right;
	background-repeat: no-repeat;
	background-size: contain;
	bottom: 0;
	height: 100%;
	position: absolute;
	right: 100%;
	width: 3rem;
}
