.credits-screen {
	align-items: center;
	background-color: var(--palette-dark-grey);
	flex-direction: column;
	overflow-y: hidden;

	.back-button {
		--background-opacity: 0;

		background-color: rgba(var(--palette-pure-white), var(--background-opacity));
		background-color: transparent;
		cursor: pointer;
		left: 6rem;
		padding: 1rem 2rem;
		position: absolute;
		top: 6rem;
		transition-duration: 0.2s;
		transition-property: background-color;
		z-index: 1;

		&::before {
			content: '☜';
			margin-right: 1rem;
		}

		&:hover {
			--background-opacity: 0.1;
		}
	}
}

.credits {
	display: flex;
	flex-direction: column;
	max-height: 100vh;
	padding: 2rem;
	overflow-y: hidden;

	blockquote {
		align-items: center;
		display: flex;
		flex-direction: column;
		text-align: center;

		cite {
			color: var(--palette-light-grey);
			margin-top: 2rem;

			&:before {
				content: '- ';
			}
		}
	}

	dl {
		display: grid;
		gap: 2rem;
		grid-template-columns: repeat(2, 1fr);

		dt {
			color: var(--palette-light-grey);
			text-align: right;
		}

		dd {
			text-align: left;

			+ dd {
				grid-column: 2;
			}
		}
	}

	header {
		color: var(--palette-red);
		font-family: var(--heading-font-family);
		font-size: var(--subheading-font-size);
		margin-bottom: 2rem;
	}

	section {
		align-items: center;
		display: flex;
		flex-direction: column;
		max-width: 50vw;

		&:first-of-type {
			margin-top: 100vh;
		}

		&:last-of-type {
			margin-bottom: 100vh;
		}

		+ section {
			margin-top: 10rem;
		}
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		justify-content: center;
		max-width: 50vw;
	}
}
