.DS_Store
.env
.env.build
.env.local
.next
*.d.ts
*.d.ts.map
yarn-error.log
next-env.d.ts
node_modules/
public/assets/
.vercel/

.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
