.title-screen {
	background-image: url('/backgrounds/title.png');
	background-position: top right;
	background-size: cover;
	display: grid;
	grid-template-areas:
		'header'
		'.'
		'menu';
	grid-template-rows: auto 1fr auto;
	justify-content: space-between;
	padding: 5rem;

	> canvas {
		inset: 0;
		position: absolute;
	}
}

.header {
	grid-area: header;
	letter-spacing: var(--heading-font-letter-spacing);
	margin-top: 10rem;

	> h1.title {
		font-size: 4em;
	}
}

.menu {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	grid-area: menu;
	justify-self: start;
	min-width: 20vw;
}
