@font-face {
	font-family: 'Black Dark';
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/black-dark/black-dark.normal.woff2') format('woff2');
}

@font-face {
	font-family: 'Black Dark';
	font-style: italic;
	font-weight: normal;
	src: url('/fonts/black-dark/black-dark.italic.woff2') format('woff2');
}
