.game-clock {
	align-content: center;
	align-self: end;
	background-color: var(--palette-grey);
	display: flex;
	grid-area: bottom-right;
	justify-content: center;
	justify-self: end;
	min-width: 10rem;
	padding: 1rem;
}
