/******************************************************************************\
  Fonts
\******************************************************************************/

@import './fonts/black-dark.scss';
@import './fonts/yorkten-slab-condensed.scss';





/******************************************************************************\
  Mixins
\******************************************************************************/

@import './mixins/generateColourCustomProperties';
@import './mixins/generateColourCustomPropertiesFromColour';





/******************************************************************************\
  Variables
\******************************************************************************/

@import './variables/colors';
@import './variables/fonts';
@import './variables/sizes';





/******************************************************************************\
  Root styles
\******************************************************************************/

* {
  --scrollbar-background: rgba(var(--palette-pure-white-rgb), 0.1);
	--scrollbar-foreground: rgba(var(--palette-pure-white-rgb), 0.3);
  --scrollbar-foreground-hovered: rgba(var(--palette-pure-white-rgb), 0.5);

	box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
	image-rendering: pixelated;
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
	text-overflow: ellipsis;
	text-rendering: optimizeLegibility;

	@media (prefers-reduced-motion: reduce) {
		&,
		&:after,
		&:before {
			animation-duration: 0.0001s !important;
			animation-delay: 0.0001s !important;
			transition-duration: 0.0001s !important;
			transition-delay: 0.0001s !important;
		}
	}

	&::-webkit-scrollbar {
		width: 1rem;
	}

	&::-webkit-scrollbar-track {
		background-color: var(--scrollbar-background);
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-foreground);

		&:hover {
			background-color: var(--scrollbar-foreground-hovered);
		}
	}
}

body, html {
	min-height: 100vh;
	width: 100%;
}

html {
	font-size: 10px;
}

body {
	color: var(--text-color);
	font-family: var(--base-font-family);
	font-size: var(--base-font-size);
	font-weight: var(--base-font-weight);
	letter-spacing: var(--base-letter-spacing);
	line-height: var(--base-line-height);
	overflow: hidden;
}
