.debugger {
	align-self: stretch;
	background-color: black;
	grid-area: debugger;
	margin-bottom: -1rem;
	margin-right: -1rem;
	margin-top: -1rem;
	padding: 2rem;
	width: 30vw;
	z-index: 1;

	dd + dt {
		margin-top: 10px;
	}

	dd {
		display: block;
		overflow: hidden;
		padding-top: 4px;
		text-align: right;
		text-overflow: ellipsis;
	}
}
