.debugger {
	align-self: stretch;
	background-color: var(--palette-dark-grey);
	font-family: monospace;
	font-size: 1.4rem;
	grid-area: debugger;
	overflow-x: hidden;
	overflow-y: auto;
	width: 20vw;
	z-index: 1;

	dd + dt {
		margin-top: 1rem;
	}

	dd {
		display: block;
		overflow: hidden;
		padding-top: 4px;
		text-align: right;
		text-overflow: ellipsis;
	}
}

.debugger-panel {
	summary {
		cursor: pointer;
		padding: 1rem;
	}

	.debugger-panel-content {
		background-color: rgba(white, 0.1);
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1rem;
	}
}

.debugger-table {
	border-collapse: separate;
	border-spacing: 0.5rem;

	th {
		text-align: left;
	}

	.row-handle {
		align-items: center;
		color: var(--palette-light-grey);
		display: flex;
		justify-content: center;

		&:before {
			background-color: currentColor;
			box-shadow:
				0 -0.4rem 0 currentColor,
				0 0.4rem 0 currentColor;
			content: '';
			display: block;
			height: 0.15rem;
			width: 1.2rem;
		}
	}
}

.character-card {
	background-color: rgba(black, 0.2);
	display: flex;

	&:not(:last-of-type) {
		margin-bottom: 0.5rem;
	}

	.handle {
		--handle-circle-size: 0.3rem;
		--handle-circle-gap: 0.1rem;
		--handle-shadow-offset: calc(var(--handle-circle-size) + var(--handle-circle-gap));

		align-items: center;
		background-color: rgba(white, 0.1);
		cursor: pointer;
		display: flex;
		flex-shrink: 0;
		justify-content: center;
		padding: calc(0.5rem + (var(--handle-circle-size) + var(--handle-circle-gap)));

		&::before {
			background-color: currentColor;
			border-radius: var(--handle-circle-size);
			box-shadow:
				// Left Top
				calc(var(--handle-shadow-offset) * -1) calc(var(--handle-shadow-offset) * -1) 0 currentColor,

				// Top
				0 calc(var(--handle-shadow-offset) * -1) 0 currentColor,

				// Right Top
				var(--handle-shadow-offset) calc(var(--handle-shadow-offset) * -1) 0 currentColor,

				// Right
				var(--handle-shadow-offset) 0 0 currentColor,

				// Right Bottom
				var(--handle-shadow-offset) var(--handle-shadow-offset) 0 currentColor,

				// Bottom
				0 var(--handle-shadow-offset) 0 currentColor,

				// Left Bottom
				calc(var(--handle-shadow-offset) * -1)  var(--handle-shadow-offset) 0 currentColor,

				// Left
				calc(var(--handle-shadow-offset) * -1) 0 0 currentColor;
			color: var(--palette-light-grey);
			content: '';
			display: block;
			height: var(--handle-circle-size);
			width: var(--handle-circle-size);
		}

		&:hover {
			background-color: rgba(white, 0.2);
		}
	}

	.info {
		padding-bottom: 0.5rem;
		padding-right: 0.5rem;
		padding-top: 0.5rem;
	}

	.index {
		background-color: rgba(white, 0.1);
		flex-shrink: 0;
		padding: 0.5rem;

		&::before {
			content: '#';
		}
	}

	.sprite-renderer {
		flex-shrink: 0;
		height: 10rem;
		position: relative;
		width: 10rem;
	}
}
