/******************************************************************************\
  Mixins
\******************************************************************************/

@import './mixins/generateColourCustomProperties';
@import './mixins/generateColourCustomPropertiesFromColour';





/******************************************************************************\
  Variables
\******************************************************************************/

@import './variables/colors';
@import './variables/fonts';





/******************************************************************************\
  Root styles
\******************************************************************************/

* {
	box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
	image-rendering: pixelated;
	text-overflow: ellipsis;
	text-rendering: optimizeLegibility;

	@media (prefers-reduced-motion: reduce) {
		&,
		&:after,
		&:before {
			animation-duration: 0.0001s !important;
			animation-delay: 0.0001s !important;
			transition-duration: 0.0001s !important;
			transition-delay: 0.0001s !important;
		}
	}
}

body, html, #__next {
	min-height: 100vh;
	width: 100%;
}

body {
	background-color: black;
	color: white;
	font-family: var(--base-font-family);
	font-size: var(--base-font-size);
	font-weight: var(--base-font-weight);
	overflow: hidden;
}

#__next {
	display: grid;
	grid-template-rows: 1fr auto;
}
