.round-score-backdrop {
	align-items: center;
	background-color: rgba(black, 0.8);
	display: flex;
	inset: 0;
	justify-content: center;
	padding-right: var(--ui-dialog-width);
	position: absolute;
}

.round-score-wrapper {
	background-color: var(--palette-dark-grey);
	font-size: var(--body-font-size);
	padding: 5rem;
}

.round-score {
	align-items: center;
	background-color: var(--palette-grey);
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding: 4rem 6rem;
	text-align: center;
}

.details {
	width: 100%;
}

.details-content {
	display: flex;
	gap: 2rem;
	text-align: left;

	.column header {
		font-weight: bold;
	}
}

.options {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
