.settings-screen {
	align-items: center;
	display: flex;
	flex-direction: column;
	overflow: auto;
	padding: 10rem;

	.back-button {
		--background-opacity: 0;

		background-color: rgba(var(--palette-pure-white-rgb), var(--background-opacity));
		cursor: pointer;
		left: 6rem;
		padding: 1rem 2rem;
		position: absolute;
		top: 6rem;
		transition-duration: 0.2s;
		transition-property: background-color;
		z-index: 1;

		&::before {
			content: '☜';
			margin-right: 1rem;
		}

		&:hover {
			--background-opacity: 0.1;
		}
	}
}

.settings-form {
	display: flex;
	flex-direction: column;
	max-width: 80rem;
	width: 100%;

	&:not(:last-of-type) {
		margin-bottom: 5rem;
	}

	.form-field {
		--background-opacity: 0;

		background-color: rgba(var(--palette-pure-white-rgb), var(--background-opacity));
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		margin-top: 2rem;
		padding: 1rem;

		&:hover {
			--background-opacity: 0.1;
		}

		input {
			cursor: inherit;
		}
	}
}
