.play-screen {
	display: grid;
	grid-template-areas: 'stage dialog';
	grid-template-columns: 1fr 40rem;
	height: 100vh;
	width: 100vw;

	&.debugger-enabled {
		grid-template-areas: 'stage dialog debugger';
		grid-template-columns: 1fr 40rem auto;
	}
}

.stage-wrapper {
	bottom: 0;
	display: flex;
	grid-area: stage;
	left: 0;
	position: absolute;
	top: 0;
	width: calc(100vw - 40rem);
}
