:root {
	--hue-shift: 0deg;

	/* Palette */

	// Blacks
	@include generateColourCustomPropertiesFromColour('palette-pure-black', #000000);

	// Whites
	@include generateColourCustomPropertiesFromColour('palette-off-white', #c8c8c8);
	@include generateColourCustomPropertiesFromColour('palette-pure-white', #ffffff);

	// Greys
	@include generateColourCustomPropertiesFromColour('palette-dark-grey', #181818);
	@include generateColourCustomPropertiesFromColour('palette-light-grey', #aaaaaa);
	@include generateColourCustomPropertiesFromColour('palette-grey', #282828);

	// Reds
	@include generateColourCustomPropertiesFromColour('palette-red', red);

	/* Normalised */
	--background-color: var(--palette-pure-black);
	--text-color: var(--palette-pure-white);
}
