:root {
	--base-font-family: 'Yorkten Slab Condensed', serif;
	--base-font-letter-spacing: 0;
	--base-font-line-height: 1;
	--base-font-size: 18pt;
	--base-font-style: normal;
	--base-font-weight: 100;

	--base-font-family: 'Yorkten Slab Condensed', serif;
	--body-font-letter-spacing: 0;
	--body-font-line-height: 1.2;
	--body-font-size: 14pt;
	--body-font-style: normal;
	--body-font-weight: 100;

	--heading-font-family: 'Black Dark', serif;
	--heading-font-letter-spacing: 0;
	--heading-font-line-height: 1;
	--heading-font-size: 51pt;
	--heading-font-style: normal;
	--heading-font-weight: 400;

	--subheading-font-family: 'Black Dark', serif;
	--subheading-font-letter-spacing: 0;
	--subheading-font-line-height: 1;
	--subheading-font-size: 29pt;
	--subheading-font-style: italic;
	--subheading-font-weight: 400;
}
