@font-face {
	font-family: 'Tinypixel';
	src: url('./tinypixel.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

:root {
	@for $index from 1 to 5 {
		--fonts-tinypixel-line-height-#{$index}x: calc((7px * #{$index}) * (var(--ui-scale) - 1));
		--fonts-tinypixel-size-#{$index}x: calc((9px * #{$index}) * (var(--ui-scale) - 1) * var(--base-font-size-multiplier));
	}
}

@for $index from 1 through 5 {
	%tinypixel-#{$index}x {
		font-family: var(--text-font-face, 'Tinypixel', monospace);
		font-size: var(--fonts-tinypixel-size-#{$index}x);
		letter-spacing: calc(1px * #{$index} * var(--ui-scale));
		line-height: var(--fonts-tinypixel-line-height-#{$index}x);
	}
}
