.game-dialog {
	align-items: stretch;
	background-color: var(--palette-grey);
	display: flex;
	flex-direction: column;
	font-size: var(--body-font-size);
	grid-area: dialog;
	height: 100vh;
	justify-content: space-between;
	line-height: var(--body-font-line-height);
	letter-spacing: var(--body-font-letter-spacing);
}

.messages {
	display: flex;
	flex-direction: column-reverse;
	flex-grow: 1;
	gap: 1rem;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 2rem;

	p {
		padding-left: 1rem;

		+ p {
			margin-top: 1rem;
		}
	}

	.author {
		font-weight: bold;
	}
}

.responses {
	display: grid;
	gap: 1rem;
	grid-template-rows: repeat(2, 1fr);
	padding: 0 2rem 2rem;

	button {
		border-left: 2px white solid;
		display: flex;
		cursor: pointer;
		padding: 1rem 2rem;
		transition-duration: 0.1s;
		transition-property: border-left-width;
		width: 100%;

		&:hover {
			border-left-width: 0.5rem;
		}
	}
}
