.game-menu {
	align-self: stretch;
	background-color: var(--palette-grey);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	grid-area: bottom-left;
	justify-content: space-between;
	justify-self: start;
	padding: 1rem;
}

.bottom,
.top {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}

.button {
	padding-left: 5rem;
	padding-right: 5rem;
}
