.button {
	border-color: var(--text-color);
	border-width: 0;
	border-style: solid;
	cursor: pointer;
	display: flex;
	padding: 1rem 2rem;
	position: relative;

	&:before {
		background-color: var(--text-color);
		bottom: 0;
		content: '';
		display: block;
		position: absolute;
		top: 0;
		transition-duration: 0.1s;
		transition-property: width;
		width: 0.2rem;
	}

	&.align-center {
		text-align: center;
	}

	&.align-left {
		text-align: left;

		&:before {
			left: 0;
		}

		&:hover:before {
			width: 0.5rem;
		}
	}

	&.align-right {
		text-align: right;

		&:before {
			right: 0;
		}

		&:hover:before {
			width: 0.5rem;
		}
	}
}
