.button {
	border-color: var(--text-color);
	border-width: 0;
	border-style: solid;
	cursor: pointer;
	display: flex;
	padding-bottom: 1rem;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	transition-duration: 0.3s;
	transition-property:
		font-weight,
		padding-left,
		padding-right;
	width: 100%;

	&:focus,
	&:hover {
		font-weight: bold;
		outline: none;
	}

	&.align-center {
		text-align: center;
	}

	&.align-left {
		padding-right: 2rem;
		text-align: left;

		&:focus,
		&:hover {
			padding-left: 2rem;
			padding-right: 1rem;
		}
	}

	&.align-right {
		padding-left: 2rem;
		text-align: right;

		&:focus,
		&:hover {
			padding-left: 1rem;
			padding-right: 2rem;
		}
	}
}
