.game-dialog {
	align-items: stretch;
	background-color: var(--palette-dark-grey);
	display: flex;
	flex-direction: column;
	font-size: 0.8em;
	grid-area: dialog;
	height: 100vh;
	justify-content: space-between;
	line-height: 1.2;
}

.call {
	display: flex;
	flex-direction: column-reverse;
	flex-grow: 1;
	gap: 1rem;
	overflow-y: auto;
	padding: 2rem;

	.author {
		font-weight: bold;
	}

	.content {
		margin-left: 1rem;
	}
}

.response {
	padding: 2rem;

	header {
		margin-bottom: 1rem;
	}
}

.options {
	li {
		&:not(:first-of-type) {
			margin-top: 0.5rem;
		}
	}

	button {
		display: flex;
		cursor: pointer;

		&::before {
			color: var(--palette-light-grey);
			content: counter(list-item) ' -';
			margin: 0 0.3rem;
			white-space: nowrap;
		}

		&:hover {
			text-shadow: 0 0 0.5rem var(--palette-light-grey);
		}
	}
}
