.round-score-wrapper {
	align-items: center;
	background-color: rgba(black, 0.8);
	display: flex;
	inset: 0;
	justify-content: center;
	position: absolute;
}

.round-score {
	background-color: black;
	padding: 2rem;
}
