.title-screen {
	background-image: url('/backgrounds/title.png');
	background-position: top right;
	background-size: cover;
	display: grid;
	gap: 5rem;
	grid-template-areas:
		'header header'
		'. .'
		'menu social';
	grid-template-columns: 1fr auto;
	grid-template-rows: auto 1fr auto;
	justify-content: space-between;
	padding: 10rem;

	> canvas {
		inset: 0;
		position: absolute;
	}
}

.header {
	grid-area: header;
	letter-spacing: var(--heading-font-letter-spacing);
	margin-top: 5rem;

	> h1.title {
		font-size: 4em;
	}
}
