@mixin generateColourCustomPropertiesFromColour($name, $color) {
	@include generateColourCustomProperties(
		$name,
		hue($color),
		saturation($color),
		lightness($color),
		red($color),
		green($color),
		blue($color),
	)
}
