.round-loading-screen {
	align-items: center;
	display: grid;
	gap: 5rem;
	grid-template-areas:
		'.'
		'heading'
		'quote'
		'button'
		'loader';
	grid-template-rows: 2fr auto 2fr 1fr auto;

	blockquote {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		grid-area: quote;
		text-align: center;
	}

	h1 {
		color: var(--palette-red);
		grid-area: heading;
		text-align: center;
		text-transform: uppercase;
	}
}

.round-loading-progress {
	grid-area: loader;
	margin-bottom: 6rem;
	margin-left: 5rem;
	margin-right: 5rem;
}

.start-menu {
	display: flex;
	grid-area: button;
	justify-content: center;
}
